apiVersion: v1
kind: Service
metadata:
  name: monitoring-app-nginx
  namespace: monitoring
spec:
  type: NodePort
  selector:
    app: monitoring-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080

